/*-- scss:defaults --*/
  
// use litera as the base
$theme: "litera" !default;

// import google fonts
//@import url('https://rsms.me/inter/inter.css');
//html { font-family: 'Inter', sans-serif; }
//@supports (font-variation-settings: normal) {
//  html { font-family: 'Inter var', sans-serif; }
//}

@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@500&family=Vollkorn&display=swap');

// use Inter font if available
$font-family-serif: 'Vollkorn', -apple-system, serif !default;

$font-family-sans-serif: -apple-system, BlinkMacSystemFont, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

/*-- scss:rules --*/
  
  // litera is serif by default: revert to san-serif

h2, p, li {
  font-family: $font-family-serif;
}



