```{=html}

<% for (const item of items) { %>
  <div style = "display: block; margin-bottom: 0.15em;">
    <div style = "display: inline-block;">
      <a style = "display: inline-block;" href="<%- item.path %>"><%= item.title %></a>
    </div>
  </div>
<% } %>
```